<!-- add_edit_employee.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Add/Edit Employee</title>
</head>
<body>
    <h1>Add/Edit Employee</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <h2>Availability</h2>
        <table>
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Start Hour</th>
                    <th>End Hour</th>
                </tr>
            </thead>
            <tbody>
                {% for formset in availability_forms %}
                <tr>
                    <td>{{ formset.day }}</td>
                    <td>
                        <ul>
                            {% for start_hour_choice in formset.start_hour.field.choices %}
                            <li>{{ start_hour_choice.1 }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for end_hour_choice in formset.end_hour.field.choices %}
                            <li>{{ end_hour_choice.1 }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Save">
    </form>
</body>
</html>
